Repository simonbesnard1/gedidb: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        # Require 1% coverage, i.e., always succeed
        target: 1%
        flags:
          - unittests
        paths:
          - "!gedidb/tests/"
      unittests:
        target: 90%
        flags:
          - unittests
        paths:
          - "!gedidb/tests/"
      mypy:
        target: 20%
        flags:
          - mypy
    patch: false
    changes: false

comment: false

flags:
  unittests:
    paths:
      - "gedidb"
      - "!gedidb/tests"
    carryforward: false
  mypy:
    paths:
      - "gedidb"
    carryforward: false

optimise numba routine
  gedidb/utils/profiles.py
Due: unittests, mypy

update numba routine
  gedidb/utils/profiles.py
Due: unittests, mypy

filter shots before computing cp
  gedidb/beam/l2b_beam.py
Due: unittests, mypy

add safeguard for missing pgap
  gedidb/utils/profiles.py
Due: unittests, mypy

optimise tiledb writing
  gedidb/core/gedidatabase.py
  gedidb/core/gediprocessor.py
Due: unittests, mypy

apply code black
  gedidb/core/gedidatabase.py
  gedidb/core/gediprocessor.py
  gedidb/tests/test_gedi_processor.py
  gedidb/tests/test_local_tiledb.py
Due: unittests, mypy

update time handling gedidatabase
  gedidb/core/gedidatabase.py
  pyproject.toml
Due: unittests, mypy

downgrade tiledb
  gedidb/core/gedidatabase.py
  pyproject.toml
Due: unittests, mypy

update tiledb version
  pyproject.toml
Due: none

fix string variables
  gedidb/core/gedidatabase.py
Due: unittests, mypy

update quality filtering in documentation
  doc/user/tiledb_database.rst
Due: none

add setuptools in test env
  ci/requirements/environment.yml
Due: none

update ci yaml file
  .github/workflows/ci.yaml
Due: none

update ci yaml file
  .github/workflows/ci.yaml
  ci/requirements/environment.yml
Due: none

apply code black
  doc/conf.py
  gedidb/core/gedidatabase.py
  gedidb/core/gediprocessor.py
  gedidb/tests/test_auth.py
  gedidb/utils/benchmark_s3_tiledb.py
  gedidb/utils/print_versions.py
  gedidb/utils/profiles.py
Due: unittests, mypy

update readme
  README.md
Due: none

clean up gedidatabase + filter routine
  gedidb/core/gedidatabase.py
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
  gedidb/utils/filters.py
Due: unittests, mypy

fix test provider test
  gedidb/tests/test_provider.py
Due: mypy

fix test provider
  gedidb/tests/test_provider.py
Due: mypy

clean up readme
  README.md
Due: none

fix time transfrom for pandas
  gedidb/core/gediprovider.py
Due: unittests, mypy

remove filter for testing
  gedidb/core/gedidatabase.py
Due: unittests, mypy

remove filter for testing
  gedidb/core/gediprocessor.py
Due: unittests, mypy

test w/o numba
  gedidb/beam/l2b_beam.py
Due: unittests, mypy

test old Beam.py module
  gedidb/beam/Beam.py
Due: unittests, mypy

test old gedigranule.py
  gedidb/core/gedigranule.py
Due: unittests, mypy

optimise routine
  gedidb/beam/Beam.py
  gedidb/beam/l2b_beam.py
  gedidb/core/gedidatabase.py
  gedidb/core/gedigranule.py
  gedidb/core/gediprocessor.py
  gedidb/downloader/data_downloader.py
  gedidb/utils/filters.py
  gedidb/utils/geo_processing.py
  gedidb/utils/progress_ledger.py
Due: unittests, mypy

add allows_duplicates=True when writing
  gedidb/core/gedidatabase.py
Due: unittests, mypy

clean up the core modules
  gedidb/core/gedidatabase.py
  gedidb/core/gedigranule.py
  gedidb/core/gediprocessor.py
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
  gedidb/utils/filters.py
Due: unittests, mypy

fix unit test
  gedidb/tests/test_gedi_granule.py
  gedidb/tests/test_gedi_processor.py
Due: mypy

fix unit test
  gedidb/tests/test_gedi_granule.py
Due: mypy

add spatial chunk writing
  gedidb/core/gediprocessor.py
Due: unittests, mypy

add annual temporal batching
  gedidb/core/gediprocessor.py
  gedidb/utils/geo_processing.py
Due: unittests, mypy

add memory flush routine
  gedidb/core/gediprocessor.py
Due: unittests, mypy

optimise provider
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
  gedidb/tests/test_tiledb_provider.py
Due: unittests, mypy

optimise provider
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

clean up documentation
  doc/user/fundamentals.filters.rst
  doc/user/fundamentals.processor.rst
  doc/user/fundamentals.provider.rst
Due: none
