Repository simonbesnard1/gedidb: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

Delete .github/workflows/pylint.yml
  .github/workflows/pylint.yml
Due: none

final clean up
  .editorconfig
  .flake8
Due: none

Update README.md
  README.md
Due: none

add pylint action
  .github/workflows/pylint.yaml
  conftest.py
  doc/auto_examples/authentification.py
  doc/auto_examples/data_processor.py
  doc/auto_examples/data_provider.py
  doc/auto_examples/get_variable_list.py
  doc/conf.py
  doc/gallery/authentification.py
  doc/gallery/data_processor.py
  doc/gallery/data_provider.py
  doc/gallery/get_variable_list.py
  gedidb/__init__.py
  gedidb/beam/Beam.py
  gedidb/beam/l2a_beam.py
  gedidb/core/gedidatabase.py
  gedidb/core/gedigranule.py
  gedidb/core/gediprocessor.py
  gedidb/core/gediprovider.py
  gedidb/downloader/authentication.py
  gedidb/downloader/cmr_query.py
  gedidb/downloader/data_downloader.py
  gedidb/granule/Granule.py
  gedidb/granule/granule_parser.py
  gedidb/granule/l2a_granule.py
  gedidb/granule/l2b_granule.py
  gedidb/granule/l4a_granule.py
  gedidb/granule/l4c_granule.py
  gedidb/providers/tiledb_provider.py
  gedidb/tests/test_data_config_yml.py
  gedidb/tests/test_gedi_granules.py
  gedidb/tests/test_geospatial_tools.py
  gedidb/tests/test_local_tiledb.py
  gedidb/tests/test_nasa_cmr_api.py
  gedidb/tests/test_provider.py
  gedidb/utils/geo_processing.py
  gedidb/utils/print_versions.py
  gedidb/utils/tiledb_consolidation.py
Due: unittests, mypy

modify downloader
  gedidb/downloader/data_downloader.py
Due: unittests, mypy

valid h5 file after downloading
  README.md
  gedidb/downloader/data_downloader.py
Due: unittests, mypy

integrate lint into CI
  .github/workflows/ci.yaml
  .github/workflows/pylint.yaml
  README.md
Due: none

Updated README.md
  README.md
Due: none

update tiledb_database doc
  .github/workflows/pylint.yaml
  doc/user/tiledb_database.rst
Due: none

update documentation
  doc/_static/images/tileDB_fragment_structure.png
  doc/auto_examples/authentification.ipynb
  doc/auto_examples/authentification.rst
  doc/auto_examples/authentification.zip
  doc/auto_examples/auto_examples_jupyter.zip
  doc/auto_examples/auto_examples_python.zip
  doc/auto_examples/data_processor.ipynb
  doc/auto_examples/data_processor.rst
  doc/auto_examples/data_processor.zip
  doc/auto_examples/data_provider.ipynb
  doc/auto_examples/data_provider.rst
  doc/auto_examples/data_provider.zip
  doc/auto_examples/get_variable_list.zip
  doc/auto_examples/regional_tileDBdatabase.ipynb
  doc/auto_examples/regional_tileDBdatabase.rst
  doc/auto_examples/regional_tileDBdatabase.zip
  doc/index.rst
  doc/user/index.rst
  gedidb/core/gedidatabase.py
Due: unittests, mypy

update python version
  .github/workflows/pylint.yaml
Due: none

run black for code formating
  gedidb/__init__.py
  gedidb/core/gedidatabase.py
  gedidb/core/gediprocessor.py
  gedidb/core/gediprovider.py
  gedidb/downloader/data_downloader.py
  gedidb/granule/Granule.py
Due: unittests, mypy

remove python 3.10 and 3.11 for Pylint
  .github/workflows/pylint.yaml
Due: none

run black with new version
  doc/auto_examples/data_processor.py
  doc/auto_examples/regional_tileDBdatabase.py
  doc/gallery/data_processor.py
  doc/gallery/regional_tileDBdatabase.py
  gedidb/utils/geo_processing.py
  gedidb/utils/tiledb_consolidation.py
Due: unittests, mypy

remove isort checks from Lint routine
  .github/workflows/pylint.yaml
Due: none

speed up a bit provider
  README.md
  doc/index.rst
  gedidb/core/gedidatabase.py
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

remove thread from tiledb_provider
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

run black on updated code
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

fix test_local_tiledb.py test
  gedidb/tests/test_local_tiledb.py
Due: mypy

Path conditions:
  unittests: any of: gedidb, but not: gedidb/tests
  mypy: any of: gedidb
