Repository simonbesnard1/gedidb: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

fix ci/cd for github
  .github/workflows/ci.yaml
  README.md
Due: none

fix ci/cd for github
  .github/workflows/ci.yaml
Due: none

fix ci/cd for github
  .github/workflows/ci-additional.yaml
Due: none

improve github actions
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/misc.yml
  .github/ISSUE_TEMPLATE/new-feature.yml
  .github/ISSUE_TEMPLATE/post-install.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/pr-prefix-labeler.yml
  .github/release.yml
  .github/workflows/ci.yaml
  .github/workflows/pypi-release.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

remove references to the gitlab repo
  doc/user/contributing.rst
  doc/user/installing.rst
  doc/user/tiledb_database.rst
Due: none

fix gedidb-contrib/ci-trigger@v1 action
  .github/workflows/ci.yaml
Due: none

update link to coverage and CI
  README.md
Due: none

fix gedidb-contrib/ci-trigger@v1 action
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/pypi-release.yaml
  .github/workflows/upstream-dev-ci.yaml
Due: none

fix gedidb-contrib/ci-trigger@v1 action
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Due: none

add ci/requirements/environment.yml
  .github/workflows/ci.yaml
  ci/requirements/environment.yml
Due: none

fix env import
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
  ci/build_gedidb_testsuite_image.sh
  ci/context/gedidb_ci.docker
  ci/requirements/environment.yml
Due: none

install tiledb via pip
  ci/requirements/environment.yml
Due: none

fix run tests
  .github/workflows/ci.yaml
  gedidb/utils/print_versions.py
Due: unittests, mypy

remove coverage file
  .coveragerc
  .github/workflows/ci.yaml
  .gitlab-ci.yml
Due: none

Add files via upload
  gedidb/tests/data/GEDI02_A_2019162222610_O02812_04_T01244_02_003_01_V002.h5
  gedidb/tests/data/GEDI02_B_2019117051430_O02102_01_T04603_02_003_01_V002.h5
  gedidb/tests/data/GEDI04_A_2019117051430_O02102_01_T04603_02_002_02_V002.h5
  gedidb/tests/data/GEDI04_C_2019108002012_O01959_01_T03909_02_001_01_V002.h5
Due: mypy

fix gedidb/tests/test_gedi_granules.py
  .github/workflows/ci.yaml
  README.md
  gedidb/tests/test_gedi_granules.py
  pyproject.toml
Due: mypy

fix typo event_file action
  .github/workflows/ci.yaml
Due: none

remove test_print_version.py
  gedidb/tests/test_print_version.py
Due: mypy

Create pylint.yml
  .github/workflows/pylint.yml
Due: none

Path conditions:
  unittests: any of: gedidb, but not: gedidb/tests
  mypy: any of: gedidb
