Repository simonbesnard1/gedidb: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, mypy

add pdal into installation
  pyproject.toml
Due: none

optimise tiledb reader
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

update dependencies version
  pyproject.toml
Due: none

allow extract irregular shape
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

apply code black formatting
  gedidb/core/gediprovider.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

fix empty granules
  gedidb/core/gedigranule.py
  gedidb/downloader/data_downloader.py
Due: unittests, mypy

black code format
  gedidb/core/gedigranule.py
Due: unittests, mypy

make sure left join is done between l2 and l4 products
  gedidb/core/gedigranule.py
Due: unittests, mypy

make earth_data_dir parameters optional
  gedidb/core/gediprocessor.py
Due: unittests, mypy

make sure netrc info is not duplicated
  gedidb/core/gediprocessor.py
  gedidb/downloader/authentication.py
Due: unittests, mypy

optimise tildb dimensiosn with compresssion and lat/long in integers
  gedidb/core/gedidatabase.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

fix bug with config file
  gedidb/core/gedidatabase.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

initiate vegetation profile calc
  gedidb/beam/l2b_beam.py
  gedidb/utils/profiles.py
Due: unittests, mypy

finalise the computation of vegetation profile
  gedidb/beam/l2b_beam.py
  gedidb/utils/profiles.py
Due: unittests, mypy

code black formatting
  gedidb/beam/l2b_beam.py
  gedidb/utils/profiles.py
Due: unittests, mypy

optimise dimensions compression
  gedidb/core/gedidatabase.py
  gedidb/providers/tiledb_provider.py
Due: unittests, mypy

fix small bug in gedidatabase
  gedidb/core/gedidatabase.py
Due: unittests, mypy

update height variable name
  gedidb/beam/l2b_beam.py
Due: unittests, mypy

fix test granule
  gedidb/beam/l2b_beam.py
  gedidb/core/gedidatabase.py
  gedidb/tests/test_gedi_granules.py
Due: unittests, mypy

code black formatting
  gedidb/beam/l2b_beam.py
  gedidb/tests/test_gedi_granules.py
Due: unittests, mypy

use numba for the canopy profile metrics
  gedidb/beam/l2b_beam.py
  gedidb/utils/profiles.py
  pyproject.toml
Due: unittests, mypy

polish gedidatabase
  gedidb/core/gedidatabase.py
  gedidb/providers/tiledb_provider.py
  gedidb/utils/profiles.py
Due: unittests, mypy

match spatial chunking with tile sizes
  gedidb/core/gedidatabase.py
  gedidb/core/gediprocessor.py
Due: unittests, mypy

add numba to env
  ci/requirements/environment.yml
Due: none

fix test routine
  gedidb/tests/test_local_tiledb.py
Due: mypy

increase code coverage
  gedidb/providers/tiledb_provider.py
  gedidb/tests/test_auth.py
  gedidb/tests/test_cmr_data_downloader.py
  gedidb/tests/test_h5_file_downloader.py
  gedidb/tests/test_spatial_consolidation_planner.py
  gedidb/tests/test_tiledb_provider.py
  gedidb/tests/test_vertical_profiler.py
Due: unittests, mypy

add two test for core modules
  gedidb/tests/test_gedi_granule.py
  gedidb/tests/test_gedi_processor.py
Due: mypy

finalise uni test
  gedidb/tests/test_show_versions.py
  gedidb/tests/test_vertical_profiler.py
Due: mypy

update spatial chunking function
  gedidb/core/gedidatabase.py
  gedidb/tests/test_local_tiledb.py
Due: unittests, mypy

fix tile size number
  gedidb/core/gedidatabase.py
Due: unittests, mypy

update quick overview
  doc/user/quick-overview.rst
Due: none

implement cp waveform calc
  gedidb/beam/l2b_beam.py
  gedidb/tests/test_vertical_profiler.py
  gedidb/utils/profiles.py
  pyproject.toml
Due: unittests, mypy

force 1st profile value to 0
  gedidb/utils/profiles.py
Due: unittests, mypy

black code formatting
  gedidb/utils/profiles.py
Due: unittests, mypy

add compression for attributes
  gedidb/core/gedidatabase.py
Due: unittests, mypy

fix string attributes
  gedidb/core/gedidatabase.py
Due: unittests, mypy

add boto3 into dependencies
  pyproject.toml
Due: none

remove warning missing product
  gedidb/core/gedigranule.py
Due: unittests, mypy

black code formating
  gedidb/core/gediprocessor.py
  gedidb/utils/progress_ledger.py
Due: unittests, mypy

fix unitest
  gedidb/tests/test_gedi_granule.py
  gedidb/tests/test_gedi_processor.py
Due: mypy

Path conditions:
  unittests: any of: gedidb, but not: gedidb/tests
  mypy: any of: gedidb
